In [33]:
import pandas as pd
import glob
import os

# Extract

In [34]:
caminho_pasta = "./Jaguatirica (Leopardus pardalis)"


arquivos = glob.glob(os.path.join(caminho_pasta, "*.csv"))


df = pd.concat((pd.read_csv(f) for f in arquivos), ignore_index=True)

df.to_csv("planilha_final.csv", index=False)

In [35]:
df

,Date,Time,Latitude,Longitude,Altitude,Speed,Course,Type,Distance,Essential
0,2016/05/19,15:22:04,-19.058962,-56.795444,91.12,180.0,14,-2,0.00,1
1,2016/05/19,15:33:51,-19.059008,-56.795532,103.42,36.0,66,0,10.57,1
2,2016/05/19,15:38:35,-19.058916,-56.795517,120.03,0.0,238,0,10.35,1
3,2016/05/19,15:43:20,-19.058924,-56.795300,105.69,720.0,222,0,22.82,1
4,2016/05/19,15:48:10,-19.058979,-56.795433,99.82,1692.0,272,0,15.26,1
...,...,...,...,...,...,...,...,...,...,...
9371,2016/05/21,17:51:01,-19.062136,-56.804676,88.53,0.0,0,0,111.12,1
9372,2016/05/21,18:05:26,-19.062628,-56.805569,25.13,0.0,237,0,108.63,1
9373,2016/05/21,18:20:29,-19.063450,-56.806107,-9.16,0.0,53,0,107.48,1
9374,2016/05/21,18:35:02,-19.064646,-56.806164,42.09,504.0,194,0,133.12,1
9375,2016/05/21,18:51:02,-19.064878,-56.805637,41.79,3384.0,181,-4,61.10,1

In [36]:
df.isnull().sum()

Date          0
 Time         0
 Latitude     0
 Longitude    0
 Altitude     0
 Speed        0
 Course       0
 Type         0
 Distance     0
 Essential    0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9376 entries, 0 to 9375
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        9376 non-null   object
 1    Time       9376 non-null   object
 2    Latitude   9376 non-null   float64
 3    Longitude  9376 non-null   float64
 4    Altitude   9376 non-null   float64
 5    Speed      9376 non-null   float64
 6    Course     9376 non-null   int64
 7    Type       9376 non-null   int64
 8    Distance   9376 non-null   float64
 9    Essential  9376 non-null   object
dtypes: float64(5), int64(2), object(3)
memory usage: 732.6+ KB

In [38]:
df['Date'].unique()

array(['2016/05/19', '2016/05/20', '2016/05/21', '2016/05/22',
       '2016/05/23', '2016/05/24', '2016/05/25', '2016/05/26',
       '2016/05/27', '2016/05/28', '2016/05/29', '2016/05/30',
       '2016/05/31', '2016/06/01', '2016/06/02', '2016/06/03',
       '2016/06/04', '2016/06/05', '2016/06/06', '2016/06/07',
       '2015/12/11', '2015/12/12', '2015/12/13', '2015/12/14',
       '2015/12/15', '2015/12/16', '2015/12/17', '2015/12/18',
       '2015/12/19', '2015/12/20', '2015/12/21', '2015/12/22',
       '2015/12/23', '2015/12/24', '2015/12/25', '2015/12/26',
       '2015/12/27', '2015/12/28', '2015/12/29', '2015/12/30',
       '2015/12/31', '2016/01/01', '2016/01/02', '2016/01/03',
       '2016/01/04', '2016/01/05', '2016/01/06', '2016/01/07',
       '2016/01/08', '2016/01/09', '2016/01/10', '2016/01/11',
       '2016/01/12', '2016/01/13', '2016/01/14', '2016/01/15',
       '2016/01/16', '2016/01/17', '2016/01/18', '2016/01/19',
       '2016/01/20', '2016/01/21', '2016/01/22', '2016/01/23',
       '2016/01/24', '2016/01/25', '2016/01/26', '2016/01/27',
       '2016/01/28', '2016/01/29', '2016/01/31', '2016/02/01',
       '2016/02/02', '2016/02/03', '2016/02/04', '2016/02/05',
       '2016/02/07', '2015/11/25', '2015/11/26', '2015/11/27',
       '2015/11/28', '2015/11/29', '2015/11/30', '2015/12/01',
       '2015/12/02', '2015/12/03', '2015/12/04', '2015/12/05',
       '2015/12/06', '2015/12/07', '2015/12/08', '2015/12/09',
       '2015/12/10', '2016/05/15', '2016/05/16', '2016/05/17',
       '2016/05/18'], dtype=object)

# Transform

In [39]:
df['Date'] = pd.to_datetime(df['Date'])

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9376 entries, 0 to 9375
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        9376 non-null   datetime64[ns]
 1    Time       9376 non-null   object
 2    Latitude   9376 non-null   float64
 3    Longitude  9376 non-null   float64
 4    Altitude   9376 non-null   float64
 5    Speed      9376 non-null   float64
 6    Course     9376 non-null   int64
 7    Type       9376 non-null   int64
 8    Distance   9376 non-null   float64
 9    Essential  9376 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(2)
memory usage: 732.6+ KB

In [41]:
df = df.sort_values("Date")

In [42]:
df

,Date,Time,Latitude,Longitude,Altitude,Speed,Course,Type,Distance,Essential
6322,2015-11-25,11:36:44,-19.057001,-56.795689,-13.56,0.0,0,-2,0.00,1
6383,2015-11-26,23:10:58,-19.057777,-56.796406,87.36,5328.0,49,0,114.47,1
6356,2015-11-26,18:37:34,-19.059975,-56.795296,99.60,6336.0,151,0,0.00,
6357,2015-11-26,18:46:26,-19.056232,-56.794796,58.28,2124.0,336,0,419.51,1
6358,2015-11-26,18:51:24,-19.055962,-56.794346,107.00,7884.0,77,0,56.02,1
...,...,...,...,...,...,...,...,...,...,...
2715,2016-06-07,00:56:02,-19.058693,-56.799240,90.69,216.0,48,0,0.00,1
2716,2016-06-07,01:00:43,-19.058563,-56.799156,96.08,0.0,49,0,16.94,1
2717,2016-06-07,01:05:23,-19.058722,-56.799179,103.54,2340.0,77,0,17.84,1
2718,2016-06-07,01:10:08,-19.058693,-56.799152,79.30,0.0,49,0,4.30,1
2719,2016-06-07,01:24:26,-19.058661,-56.798485,105.30,4752.0,53,-4,70.19,1

# Loading