In [5]:
import pandas as pd
import glob
import os

In [6]:
quatis = glob.glob(os.path.join('C:/Users/Inteli/Documents/2025-2A-T08-EC11-G03/src/Quatis', "*.txt"))

In [7]:
df = pd.concat(
    (pd.read_csv(f, sep=",", header=0) for f in quatis),
    ignore_index=True
)

df.to_csv("quatis.csv", index=False)

In [8]:
df

,markacu,x.cor,y.cor,zona,x,y,alt,date,jdat,dias.monitor,h,ampm,mark,ID
0,1,522785.613,7892514.396,21K,522785.613,7892514.396,130.25000,2015-12-14 11:51:00,348,1,11,1,1,pretinho
1,2,522772.770,7892508.879,21K,522772.770,7892508.879,-6.51000,2015-12-14 11:58:02,348,1,11,1,1,pretinho
2,3,522780.770,7892512.078,21K,522780.770,7892512.078,65.68999,2015-12-14 12:02:54,348,1,12,1,1,pretinho
3,4,522782.763,7892506.765,21K,522782.763,7892506.765,57.97000,2015-12-14 12:07:48,348,1,12,1,1,pretinho
4,5,522784.442,7892503.443,21K,522784.442,7892503.443,40.07000,2015-12-14 12:12:39,348,1,12,1,1,pretinho
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22008,2352,522535.505,7895433.074,21K,522535.505,7895433.074,75.53000,2016-07-13 19:05:48,195,29,19,1,1,tati
22009,2353,522533.507,7895433.851,21K,522533.507,7895433.851,83.83000,2016-07-13 19:10:36,195,29,19,1,1,tati
22010,2354,522541.201,7895444.021,21K,522541.201,7895444.021,99.93000,2016-07-13 19:15:23,195,29,19,1,1,tati
22011,2355,522534.666,7895435.177,21K,522534.666,7895435.177,75.58000,2016-07-13 19:20:11,195,29,19,1,1,tati
22012,2356,522536.772,7895436.834,21K,522536.772,7895436.834,68.10000,2016-07-13 19:25:19,195,29,19,1,1,tati

In [9]:
df.isnull().sum()

markacu            0
x.cor              0
y.cor              0
zona            7225
x                  0
y                  0
alt                0
date               0
jdat               0
dias.monitor       0
h                  0
ampm               0
mark               0
ID                 0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22013 entries, 0 to 22012
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   markacu       22013 non-null  int64
 1   x.cor         22013 non-null  float64
 2   y.cor         22013 non-null  float64
 3   zona          14788 non-null  object
 4   x             22013 non-null  float64
 5   y             22013 non-null  float64
 6   alt           22013 non-null  float64
 7   date          22013 non-null  object
 8   jdat          22013 non-null  int64
 9   dias.monitor  22013 non-null  int64
 10  h             22013 non-null  int64
 11  ampm          22013 non-null  int64
 12  mark          22013 non-null  int64
 13  ID            22013 non-null  object
dtypes: float64(5), int64(6), object(3)
memory usage: 2.4+ MB

In [11]:
df["date"] = pd.to_datetime(df["date"])

In [12]:
print(df.dtypes)

markacu                  int64
x.cor                  float64
y.cor                  float64
zona                    object
x                      float64
y                      float64
alt                    float64
date            datetime64[ns]
jdat                     int64
dias.monitor             int64
h                        int64
ampm                     int64
mark                     int64
ID                      object
dtype: object